/*  Fonts
    -----
    font-family: 'Lora', serif;
    font-family: 'Ubuntu', sans-serif;
 */
 
header {
    text-align: center;
}

.nav-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.nav-list-item {
    margin: 0 1em;
}
